.app {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    gap: 5%;
    grid-template-columns: 50% 45%;
}
@media screen and (max-width: 1020px) {
    .app{
        grid-template-columns: 100%;
    
        gap: 0;
    }  
    .swiper_container{
        margin-bottom: 10%;
    }  
}

.texth{
    text-transform: uppercase;
}

.form_group {
    position: relative;
    max-width: 250px;
    margin: 0 auto;
}
.form_group:nth-child(2){
    margin-top: 20px;
}

.form_group.dark input{
    background-color: black;
    color: white;
    border: 1px solid white;
}
.form_group.dark input:focus{
    border: 2px solid white;
}
.form_group.dark label{
    color: white;
}


.form_group input {
    background-color: white;
    color: black;
    padding: 10px 10px 10px 9%;
    width: 100%;
    height: 3.09rem;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1.625rem;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-size: 16px;
    font-weight: 350;
}

.form_group input:focus {
    outline: none;
    border: 2px black solid;
}

.form_group input::placeholder {
    color: transparent; /* Скрыть стандартный плейсхолдер */
}

.form_group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: rgb(19, 19, 19);
    pointer-events: none;
    transition: all 0.3s ease;
    padding-left: 5%;
    font-weight: 350;
    font-size: 16px;
}

.form_group input:valid + label {
    display: none;
}

.learn_more {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: none;
    border-radius: 1.625rem;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    width: 100%;
    max-width: 250px;
    
}

.plate {
    width: 90%;
    max-width: 400px;
    max-height: 400px;
    height: fit-content;
    margin:  5%;
    overflow: hidden;
    border-radius: 5px;
    transition: transform 0.3s ease, width 0.3s ease, height 0.3s ease;

    &.active {
        transform: scale(1.5);
        width: 400px;
        height: 400px;
    }

    h2 {
        color: aliceblue;
        margin: 16px;
    }
}

.swiper_container {
    width: 100%;

    h1 {
        margin: 0 auto;
    }
    img{
        height: 100%;
    }
}
@media screen and (max-width: 610px) {
    .app{
        overflow: hidden;
    }
}
.text_container {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    max-width: 400px;
    margin: 0 auto;
    align-content: center;
}
.text_container>h1{
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    line-height: 62px;
}
.text_container>p{
   text-align: justify;
   font-size: 18px;
   font-weight: 300;
}
.stat_partner{
    margin: 11px auto 0 auto;
    width: 250px;
}
