* {
  margin: 0 auto;
  padding: 0 auto;
  gap: 0;
}

img {
  width: 100%;
  height: 100%;
  max-width: 1440px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: 10%;
  color: #393939;
}

h2 {
  color: #393939;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 52px;
  text-align: justify;
}

h1 {
  color: #030303;
  font-size: 50px;
  font-family: "Roboto";
  line-height: 62px;
  font-weight: normal;
}

h3 {
  color: #030303;
  font-size: 100px;
  font-family: "Roboto";
  font-weight: bold;
  text-align: center;
}

.img_grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.info {
  display: grid;
  grid-template-columns: 50% 50%;
  border-bottom: solid 2px #d3d3d3;
  border-top: solid 2px #d3d3d3;
  font-size: 3vh;
  color: #000000;
  margin: 5%;
}

.info_img {
  width: 80%;
  padding: 10%;
  height: auto;
  border-radius: 5px;
}

.yaers {
  display: grid;
  width: 70%;
  margin: 0 auto;
  border-bottom: 2px solid grey;
}

.block_yers {
  padding: 5%;
  display: grid;
  grid-template-columns: 30% 70%;
  width: 90%;
  margin: 0 auto;
  border-top: 2px solid grey;
}

.golovok {
  margin: 10%;
  border-bottom: 2px solid #d3d3d3;
}

.text_golovok {
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 300;
  line-height: 62px;
  color: #000000;
}

.text_golovok:hover {
  transform: translateY(-40px);
}

.videocontainer {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}
.videocontainer iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1025px) {



  h1 {
    font-size: 27px;
    /* Уменьшаем размер шрифта на мобильных устройствах */
    line-height: 32px;
  }

}

@media only screen and (max-width:610px) {

  .info,
  .img_grid,
  .block_yers {
    grid-template-columns: none;
    grid-template-rows: 2 1fr;
  }
}