.dark {
    background-color: black;
  }
  .container_menu {
    position: sticky;
    top: 96px;
    margin: 0 auto;
   padding: 1%;
   position: absolute;
   left: 85vw;

  }
  .expand_less {
    margin-top: 75vh;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url(../../assets/expand_less.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    z-index:10;
    transition: 0.3s ease-in-out;
  
    &:hover {
      border-radius: 30px;
      background-color: #ffffff;
      box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
      transform: scale(1.1);
    }
  }
  .expand_less.dark{
    background-color: rgb(0, 0, 0);
    background-image: url(../../assets/expand_less_white.svg);
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.16); 
    border:  1px solid white;
  }  
  @media screen and (min-width:768px) {
    .container_menu{
        display: none;
    }
  }