.wrapper {
  display: flex;
  height: 1048px;
  :global(.swiper-pagination-bullet) {
    background: var(--swiper-pagination-bullet-inactive-color, #000);
    cursor: pointer;
    position: relative;
    width: 30px;
    height: 30px;
  }
  :global(.swiper) {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
  }
  :global(.swiper-slide.swiper-slide-prev) {
    width: 100%;
  }
  :global(.swiper-slide-prev) {
    width: 100%;
    transition-duration: 0ms;
    transform: translate3d(59.8696px, 0px, -299.348px) rotateX(0deg)
      rotateY(0deg) scale(1);
    z-index: 0;
  }
  :global(.swiper-slide-active) {
    width: 100%;
    transition-duration: 0ms;
    transform: translate3d(-0.130435px, 0px, -0.652174px) rotateX(0deg)
      rotateY(0deg) scale(1);
    z-index: 1;
  }
  :global(.swiper-slide-next) {
    width: 100%;
    transition-duration: 0ms;
    transform: translate3d(-60.1304px, 0px, -300.652px) rotateX(0deg)
      rotateY(0deg) scale(1);
    z-index: 0;
  }

  :global(.swiper-button-next) {
    color: #000;
    top: var(--swiper-navigation-top-offset, 96%);
    right: var(--swiper-navigation-sides-offset, 25%);
    z-index: 999;
  }
  :global(.swiper-pagination-bullet-active-prev) {
    transform: scale(0.66);
  }
  :global(.swiper-pagination-bullet-active-prev-prev) {
    transform: scale(0.33);
  }
  :global(.swiper-pagination-bullet-active-next) {
    transform: scale(0.66);
  }
  :global(.swiper-pagination-bullet-active-next-next) {
    transform: scale(0.33);
  }
  :global(.swiper-pagination-bullet-active-main) {
    transform: scale(1);
  }
  :global(.swiper-pagination-bullet-active) {
    transform: scale(1);
  }
  :global(.swiper-button-prev) {
    color: #000;
    top: var(--swiper-navigation-top-offset, 96%);
    left: var(--swiper-navigation-sides-offset, 25%);
  }
  :global(.swiper-button-next.swiper-button-disabled) {
    opacity: 1;
  }
  :global(.swiper-button-prev.swiper-button-disabled) {
    opacity: 1;
  }

  :global(.swiper-pagination) {
    z-index: 1;
    width: 30px;
    height: 30px;
    transition: 0.3s opacity;
    position: absolute;
    text-align: center;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  :global(.swiper-pagination-bullets-dynamic) {
    transform: scale(0.33);
    position: relative;
    overflow: hidden;
    font-size: 0;
  }
  :global(.swiper-pagination-clickable) {
    cursor: pointer;
  }
  :global(.swiper-pagination-bullets-dynamic) {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  :global(.swiper-pagination-horizontal) {
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    top: var(--swiper-pagination-top, -43px);
  }
  :global(.swiper-pagination-bullets) {
    width: 190px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    top: var(--swiper-pagination-top, -43px);
  }
  :global(.swiper-pagination-bullets.swiper-pagination-horizontal) {
    width: 190px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    top: var(--swiper-pagination-top, -43px);
  }
  :global(
      .swiper-horizontal
        > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic
        .swiper-pagination-bullet
    ) {
    transition: 0.2s transform, 0.2s left;
  }
  :global(
      .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic
        .swiper-pagination-bullet
    ) {
    transition: 0.2s transform, 0.2s left;
  }
  :global(
      .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet
    ) {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
  :global(
      .swiper-pagination-horizontal.swiper-pagination-bullets
        .swiper-pagination-bullet
    ) {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 4px);
  }
}
:root {
  --swiper-theme-color: #000000;
}
.images,
.text_slider {
  flex: 0 0 50%;
  max-width: 50%;
  width: 100px;
  overflow: auto;
}
.images {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 755px;
}
.swiperimg img {
  height: 604px;
  padding-top: 14%;
}
.swiper-slide {
  height: 755px;
}

.text_slider {
  margin: 0 auto;
  display: flex;
  align-items: center;
  height: 755px;
  width: 504px;
}

.text_in {
  padding: 20px;
  margin: 0 auto;
  display: grid;
  gap: 20px;
  width: 360px;
}
.text_in h2 {
  font-size: 40px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 62px;
}
.text_in p {
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 23px;
  text-align: justify;
}
.gradual_appear {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.learn_more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 100%;
}
button.learn_more {
  height: auto;
}
button.learn_more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: black;
  border-radius: 1.625rem;
}
button.learn_more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn_more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.124rem;
  background: none;
}
button.learn_more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn_more .button_text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}

button:hover .button_text {
  color: #fff;
}
