@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

/* Common Style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
}

.body {
    overflow: hidden !important;
}

a:focus {
    outline: none;
    box-shadow: none;
}

input:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

input:focus-visible {
    outline: none;
    border: none;
    box-shadow: none;
}

button:focus,
:focus-visible {
    outline: none;
    border: none;
}

i {
    font-size: 54px;
}

/* Typography */
h1 {
    text-align: center;
    font-family: "Lexend";
    font-size: 350px !important;
    line-height: normal !important;
    color: var(--white-color) !important;
    width: 99vw;
    margin: 0 !important;
    user-select: none;
}

h2 {
    font-family: "Lexend";
    font-size: 40px;
    line-height: normal;
    margin: 0;
    font-weight: 900;
}

/* Header */
header {
    padding: 22px 28px 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
    text-align: center;
}

.logo {
    color: var(--first-logo);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Cane Image and Wrapper Image */
.cane_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center center;
    mask-position: center center;
    -webkit-mask-size: 100% auto;
    mask-size: 100% auto;
    overflow: hidden;
    mask-image: url(../../assets/bottle-pattern-02.svg);
}

.cane_labels {
    position: absolute;
    width: 300% !important;
    mix-blend-mode: multiply;
    transition: all ease-in-out 0.3s;
}

.can {
    height: 615px;
}

/*Fruits Images */
.fruit_image {
    opacity: 1;
    position: absolute;
}

.image_one {
    max-width: 282px;
    bottom: 100px;
}

.image_two {
    max-width: 247px;
    top: 23%;
    left: 25%;
}

.image_three {
    max-width: 211px;
    top: 23%;
    right: 25%;
}

.image_four {
    max-width: 294px;
    bottom: 100px;
    right: 0;
}

/* After */
.fruit_image::after {
    content: "";
    position: absolute;
    background: linear-gradient(90deg, #000 3.66%, rgba(0, 0, 0, 0) 92.35%);
    opacity: 0.43;
    filter: blur(7.5px);
    transform: rotate(-6.941deg);
    right: 0;
    width: 173px;
    height: 30px;
}

.image_one::after {
    bottom: -50px;
}

.image_two::after {
    bottom: -200px;
    height: 22px;
}

.image_three::after {
    bottom: -280px;
    width: 103px;
}

.image_four::after {
    bottom: -50px;
}

/*Section  */
.section_container_main {
    width: 100vw;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.section_container {
    width: 300vw;
    display: flex;
    position: relative;
    transition: all ease-in-out 0.5s;
    align-items: center;
}

.section {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -1;
    background: var(--first-background);
}

.section:nth-child(2) {
    background-color: var(--third-background);
}

.section:nth-child(3) {
    background-color: var(--second-background);
}

.section:nth-child(4) {
    background-color: var(--four-background);
}

/* Add this to your CSS */
/* Buttons */
button {
    position: fixed;
    top: 50%;
    right: 30px;
    z-index: 99;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 80px;
    width: 80px;
    background-color: var(--white-color);
    border: none;
    font-size: 40px;
    color: var(--third-logo);
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    background-image: url(../../assets/expand_less_right.svg);
}

.prevButton {
    left: 30px;
    right: unset;
    display: none;
    transition: all ease-in 0.3s;
    background-image: url(../../assets/expand_less_left.svg);
}

.wave {
    animation: wave-third-effect 4s linear infinite;
    animation-direction: normal;
}

.wave_pear_effect {
    animation: wave-pear-effect 4s linear infinite;
    animation-direction: normal;
}

.pear_color {
    color: var(--second-background);
}

.apple_color {
    color: var(--third-background);
}

.exotic_color {
    color: var(--first-background);
}


.wave_apple_effect {
    animation: wave-third-effect 4s linear infinite;
    animation-direction: normal;
}

.wave_exotic_effect {
    animation: wave-first-effect 4s linear infinite;
    animation-direction: normal;
}

.wave_pear_effect {
    animation: wave-second-effect 4s linear infinite;
    animation-direction: normal;
}

@keyframes wave-second-effect {
    0% {
        box-shadow: 0 0 0 0px var(--third-background),
            0 0 0 0px var(--third-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--third-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

@keyframes wave-third-effect {
    0% {
        box-shadow: 0 0 0 0px var(--second-background),
            0 0 0 0px var(--second-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--second-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

@keyframes wave-first-effect {
    0% {
        box-shadow: 0 0 0 0px var(--first-background),
            0 0 0 0px var(--first-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--first-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

@keyframes wave-four-effect {
    0% {
        box-shadow: 0 0 0 0px var(--four-background),
            0 0 0 0px var(--four-background);
    }

    40% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0),
            0 0 0 0px var(--four-background);
    }

    80% {
        box-shadow: 0 0 0 50px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0px rgba(60, 41, 188, 0), 0 0 0 30px rgba(0, 230, 118, 0);
    }
}

/*.......... Responsive.............. */
@media screen and (max-width: 1550px) {
    h1 {
        font-size: 350px !important;
    }

    .cane_image {
        max-width: 280px;
    }

    .image_one {
        max-width: 250px;
    }

    .image_two {
        max-width: 215px;
        left: 22%;
        top: 10%;
    }

    .image_three {
        max-width: 180px;
    }

    .image_four {
        max-width: 260px;
        right: 40px;
    }
}

@media screen and (max-width: 1199px) {
    h1 {
        font-size: 300px !important;
    }

    .cane_image::after {
        width: 150%;
    }

    .image_one {
        max-width: 220px;
    }

    .image_two {
        max-width: 185px;
        left: 18%;
        top: 10%;
    }

    .image_three {
        max-width: 180px;
        right: 18%;
    }

    .image_four {
        max-width: 230px;
    }
}

@media screen and (max-width: 991px) {
    h1 {
        font-size: 240px !important;
    }

    .cane_image {
        height: 620px;
    }

    .cane_labels {
        height: 570px;
    }

    button {
        height: 80px;
        width: 80px;
        top: 90%;
    }

    .image_one {
        max-width: 180px;
    }

    .image_two {
        max-width: 165px;
        left: 12%;
        top: 12%;
    }

    .image_three {
        max-width: 150px;
        right: 12%;
    }

    .image_four {
        max-width: 200px;
    }
}

@media screen and (max-width: 767px) {
    h1 {
        font-size: 180px !important;
    }

    h2 {
        font-size: 30px;
    }

    .cane_image {
        max-width: 180px;
    }

    button {
        height: 60px;
        width: 60px;
        font-size: 20px;
    }

    .image_one {
        max-width: 180px;
        bottom: 150px;
    }

    .image_two {
        max-width: 145px;
        left: 12%;
        top: 15%;
    }

    .image_three {
        max-width: 130px;
        right: 10%;
    }

    .image_four {
        max-width: 180px;
        bottom: 150px;
    }
}

@media screen and (max-width: 575px) {
    h1 {
        font-size: 140px !important;
    }

    .cane_image::after {
        width: 100%;
    }

    .image_one {
        max-width: 150px;
    }

    .image_two {
        max-width: 115px;
        left: 4%;
        top: 18%;
    }

    .image_three {
        max-width: 100px;
        right: 4%;
    }

    .image_four {
        max-width: 150px;
        right: 0;
    }
}