.texter {
  margin: 10%;
  border-bottom: 2px solid #d3d3d3;
  transform: translateY(40px);
  /* Начальное положение */
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}
.text {
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

.text:hover {
  transform: translateY(-40px);
}
.grid_container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding-bottom: 10%;
  margin-bottom: 10%;
  padding-top: 10%;
  width: 100%;
  border-bottom: 2px solid #d3d3d3;
}

.grid_item {
  margin: 0 auto;
  width: 90%;
  max-width: 420px;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.img_four_end {
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  transform-origin: center center;
}
.big_text_four_page,
.big_text_four_right {
  font-weight: bold;
  padding-bottom: 20%;
  font-size: 96px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease-in-out, transform 1s ease-in-out;
}

.fadeIn {
  opacity: 1;
  transform: translateX(0);
}

 .big_text_four_page2 {
  font-size: 96px;
  opacity: 0;
  transform: translateY(20px);
  
} 

.big_text_four_right {
  font-weight: bold;
  padding-bottom: 20%;
  font-size: 96px;
  text-align: right;
}

.text_four_right {
  text-align: right;
}
.txt_four {
  justify-self: end;
}
.kartinka1 {
  width: auto;
  height: auto;
  overflow: hidden; /* Скрыть части изображения, выходящие за пределы контейнера */
  position: relative;
  border-radius: 5px;
}
.kartinka1:hover .img_four_end {
  transform: scale(1.1); /* Увеличение в 2 раза */
}
@media (max-width: 600px) {
  .grid_container{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6,0.7fr);
  }
  .grid_item{
    height: 300px;
  }
  .grid_item:nth-child(2), .grid_item:nth-child(6){
    height: 420px;
  }
  .grid_item:nth-child(1){
    grid-area: 1 / 1 / 2 / 2;
  }
  .grid_item:nth-child(2){
    grid-area: 2 / 1 / 3 / 2;
  }
  .grid_item:nth-child(3){
    height: 200px;
    grid-area: 4 / 1 / 5 / 2;
  }
  .grid_item:nth-child(4){
    grid-area: 3 / 1 / 4 / 2;
  }
  .grid_item:nth-child(5){
    grid-area: 5 / 1 / 6 / 2;
  }
  .grid_item:nth-child(6){
    grid-area: 6 / 1 / 7 / 2;
  }
}