img {
    width: 100%;
    height: 100%;
}

.firstimg {
    height: 925px;
}

.papawrapper {
    position: relative;
    width: 100%;
}

.childwrapper {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 925px;
    aspect-ratio: 14.2 / 7.5;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

.secondimgwrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

.movableshit {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 5px;
    background-color: #fff;
    cursor: ew-resize;
}

.pointer {
    background-color: #fff;
    position: absolute;
    border-radius: 0.25rem;
    height: 1.5rem;
    width: 0.75rem;
    left: -0.275rem;
    top: calc((100% / 2) - 0.625rem);
}

@media screen and (max-width:600px) {
    .movableshit {
        width: 2px;
    }

    .pointer {
        width: 0.4rem;
        height: 1rem;
        left: -0.1375rem;
    }

    .childwrapper {
        height: 250px;
    }



    img {
        width: 100vw;
        height: 250px;

    }

    .firstimg {
        height: auto;
    }
}