img {
    width: 100%;
    height: 925px;
    max-width: 1440px auto;
}

.papawrapper {
    position: relative;
    width: 100%;
}

.childwrapper {
    position: relative;
    width: 100%;
    max-width: 1440px;
    height: 925px;
    aspect-ratio: 14.2 / 7.5;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

.secondimgwrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 1440px;
    height: 925px;
    margin: auto;
    overflow: hidden;
    user-select: none;
}

.movableshit {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3px;
    background-color: #fff;
    cursor: ew-resize;
}

.pointer {
    background-color: #fff;
    position: absolute;
    border-radius: 0.25rem;
    height: 0.75rem;
    width: 0.75rem;
    left: -0.275rem;
    top: calc((100% / 2) - 0.625rem);
}