.first_container[content="f"] {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  min-height: 96vh;
  margin-bottom: 5%;
  user-select: none;
}

.mySwiperBottle {
  margin: 0 auto; 
  width: 100%;
  height: 550px;
  display: flex;
  align-items: center;
}

.sliders{
  display: flex;
  align-items: center;
  grid-area: 1 / 1 / 2 / 12;
  z-index: 0;
}

.slide{
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
  transition: 1s ease;
}

.img_slide{
  display: block;
  height: 100%;
  max-width: 300px;
  object-fit: cover;
  margin: 0 auto;
}

.button_slider {
  width: 250px;
  background: none;
  border: none;
}
.text_slider {
  margin-left: 0;
  display: flex;
  align-items: center;
  grid-area: 1 / 12 / 2 / 21;
}
.text_in {
  padding: 0 16% 0 0;
  /* margin: 0 auto; */
  display: grid;
  gap: 20px;
}
.gradual_appear {
  color: black;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 62px;
}
.first_screen_par{
  display: grid;
  gap: 20px;
  color: black;
  font-size: 18px;
  font-family: "Roboto";
  font-weight: 300;
  line-height: 23px;
  text-align: justify;
  width: 100%;
}
.gradual_appear {
  opacity: 0;
  transition: opacity 0.5s ease;
}
.first_screen_par {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.appear_button {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.fade_in {
  opacity: 1;
}

@media screen and (max-width: 1200px)  {
  .mySwiperBottle{
    height: 450px;
  }
  .sliders{
    display: flex;
    align-items: center;
    grid-area: 1 / 2 / 2 / 10;
  }
  .slide{
    height: 400px;
    width: 200px;
  }
  .img_slide{
    max-width: 200px;
  }
}
@media screen and (max-width: 850px) {
  .text_in {
    margin: 0 10% 0 10%;
  }
}
@media screen and (max-width: 768px) {
  .first_container {
    grid-template-columns: 1fr !important;
    grid-template-rows: repeat(3, 1fr);
    min-height: unset;
    /* height: calc(var(--double-screen-height) / 2); */
    margin-bottom: unset;
  }
  .mySwiperBottle {
    margin-top: 10%;
    max-width: 300px;
  }
  .sliders{
    display: flex;
    align-items: center;
    grid-area: 1 / 1 / 3 / 2;;
  }
  .text_slider {
    grid-area: 3 / 1 / 4 / 2;
  }
  .text_in {
    height: 100%;
    padding: 0;
    width: 100%;
    gap: 0;
  }
  .gradual_appear {
    margin: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
  .button_slider {
    margin: 5% auto;
  }

  .first_screen_par {
    gap: unset;

  }
}
