.slides {
  user-select: none;
  display: flex;
  overflow-x: scroll; /* Change to horizontal scroll */
  //  max-width: 100vw;
  cursor: grab;
  scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

.slide:first-child {
  margin-left: 10%;
}

.slide:last-child {
  margin-right: 10%;
}

.slide {
  flex: 0 0 290px;
  scroll-snap-align: center;
  margin-right: 30px;
  // max-width: 290px;
  box-sizing: border-box;
}

.slide_p {
  margin-top: 30px;
  color: rgb(0, 0, 0);
}

.slides::-webkit-scrollbar {
  display: none;
}

.slide img {
  width: 100%;
  height: 290px; /* Adjust height to ensure <p> tags are visible */

  object-fit: cover;
  border-radius: 5px;
}

@media only screen and (max-width: 600px) {
  .slides {
    margin : unset;
  }
  .slide:first-child {
    margin-left: 50%;
  }
  
  .slide:last-child {
    margin-right: 50%  !important;
  }

}
