.props{
  --screen-width:10px;
}

.mySwiper {
  width: 100%;
  max-width:calc(var(--screen-width)/1.45);
  margin: 0 0 0 10%; /* Центрируем слайдер */
}

.vk-post {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрируем содержимое по вертикали */
  align-items: center; /* Центрируем содержимое по горизонтали */
  padding: 5px;
  background-color: transparent;
  width: 100%;
  box-sizing: border-box;
  min-height: 300px; /* Устанавливаем минимальную высоту для всех записей */
}

.vk-post-image {
  width: 100%; /* Устанавливаем одинаковую ширину для всех картинок */
  max-width: 500px; /* Ограничиваем максимальную ширину изображения */
  aspect-ratio: 1 / 1; /* Делаем изображение квадратным */
  object-fit: cover; /* Обеспечиваем сохранение пропорций изображения */
  border-radius: 8px;
  margin-bottom: 30px;
}

.vk-post-text {
  font-size: 16px;
  color: #333;
  text-align: left; /* Выравнивание текста по левому краю */
  width: 100%; /* Ширина текста совпадает с шириной фотографии */
  max-width: 500px; /* Ограничиваем ширину текста шириной фотографии */
  margin-left: 0; /* Убираем отступ слева */
  padding: 10px;
  line-height: 1.5;
  word-wrap: break-word;
}
@media screen and (min-width: 1800px){
  .mySwiper{
  max-width:calc(var(--screen-width)/1.9);
  }
}
@media screen and (min-width: 1700px) and(max-width: 1800px){
  .mySwiper{
  max-width:calc(var(--screen-width)/1.6);

  }
}
@media screen and (max-width: 1230px) {
  .mySwiper{
    margin: auto;
  }
}
@media (max-width: 1024px) {
  .mySwiper {
    width: 100%;
  }

  .vk-post {
    min-height: 250px; /* Устанавливаем минимальную высоту для планшетов */
  }
}

@media (max-width: 768px) {
  .mySwiper {
    width: 100%;
  }

  .vk-post {
    min-height: 200px; /* Устанавливаем минимальную высоту для мобильных устройств */
  }

  .vk-post-image {
    width: 100%; /* Уменьшаем ширину изображения на мобильных устройствах */
    margin: 0 auto 20px auto; /* Центрируем изображение и добавляем отступы */
  }

  .vk-post-text {
    width: 90%; /* Уменьшаем ширину текста на мобильных устройствах */
    max-width: none; /* Убираем максимальную ширину */
    margin: 0 auto; /* Центрируем текст */
    text-align: center; /* Центрируем текст */
  }
}

@media (max-width: 640px) {
  .mySwiper {
    width: 100%;
  }

  .vk-post {
    min-height: 150px; /* Устанавливаем минимальную высоту для маленьких экранов */
  }

  .vk-post-image {
    width: 100%; /* Ещё больше уменьшаем ширину изображения на очень маленьких экранах */
    margin: 0; /* Центрируем изображение и добавляем отступы */
  }

  .vk-post-text {
    width: 85%; /* Ещё больше уменьшаем ширину текста на очень маленьких экранах */
    margin: 0 auto; /* Центрируем текст */
    font-size: 14px; /* Уменьшаем размер текста */
    text-align: center; /* Центрируем текст */
  }
}
