footer {
  display: flex;
  justify-content: center;
  max-height: 20%;
  position: sticky;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.footerButton {
  padding-bottom: 5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: transform 0.1s ease-in-out, color 0.1s ease-in-out;
  color: #000;
  line-height: 1.5;
  position: relative;
}

.footerButton:hover {
  color: rgb(157, 20, 20);
  transform: scale(1.05);
  transform-origin: center; /* Устанавливает центр масштабирования */
}

.logo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 230px;
  height: 100%;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.logo_footer_img {
  height: 91px;
  width: 113px;
}

.dark .logo_footer {
  filter: brightness(0) invert(1);
  /*Меняет цвет с чёрного на белый */
}

.logo_footer:hover,
.practice:hover {
  transform: scale(1.05);
}

.info_footer {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  height: 120px;
  margin: 0 auto;
}

.all_items_footer {
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
  width: 1440px;
  background-color: rgba(255, 255, 255);
  box-shadow: -2px 7px 0px 0px rgba(3, 3, 3, 0.1);
  transition: box-shadow, background-color 1s ease;
}

.practice_logo {
  margin-right: 5%;
}

.practice {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 150px;
  height: 30px;
  transition: 0.3s ease-in-out;
}

.all_items_footer.dark {
  background-color: #000;
  color: #fff;
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.93); */
  /* box-shadow: -10px 1px 10px -10px rgba(255, 255, 255, 0.93), 
              10px 1px 10px -10px rgba(255, 255, 255, 0.93); */
  transition: box-shadow, background-color 1s ease;
}

.all_items_footer.dark a {
  color: #fff;
  transition: box-shadow, background-color 1s ease;
}

@media screen and (max-width: 600px) {
  footer {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .all_items_footer {
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    padding-bottom: 0px;
  }

  .footerButton {
    padding-bottom: 0;
  }

  .logo_footer {
    width: 100px;
    height: 200px;
    margin-bottom: 30px;
  }

  .info_footer {
    height: 180px;

    a {
      overflow: hidden;
    }
  }

  .practice_logo {
    margin-right: 0;
  }

  .practice {
    height: 140px;
    overflow: hidden;
    margin-top: -45px;
  }
}
