/* first_page header */
.header {
  width: 20%;
  height: 110vh;
  border-radius: 2px;
  top: 0;
  left: 0;
  position: sticky;
  background-color: rgba(255, 255, 255, 0.93);
  transition: background-color 1s ease;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
}

.dark {
  background-color: black;
}

.dark,
.header,
.logo,
.header_menu {
  transition: box-shadow, background-color 1s ease;
}
.header_menu {
  padding-left: 0px;
}

@media only screen and (max-width: 1025px) {
  .header,
  .right_menu {
    display: none;
  }

  .footerButton {
    justify-content: center;
    text-align: center;
  }

  .menu_toggle {
    display: block !important;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}

@media (max-width: 599px) {
  .header,
  .right_menu {
    display: none;
  }

  .footerButton {
    justify-content: center;
    text-align: center;
  }

  .burger_checkbox {
    position: absolute;
    visibility: hidden;
  }

  .burger {
    position: fixed;
    top: 20px;
    left: 25px;
    z-index: 2;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }

  .burger::before,
  .burger::after {
    content: "";
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 10px;
    background: #000;
  }

  .burger::before {
    top: 0;
    box-shadow: 0 11px 0 #000;
    transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  }

  .burger::after {
    bottom: 0;
    transition: bottom 0.3s 0.15s, transform 0.3s;
  }
  .burger_checkbox:checked + .burger::before {
    top: 11px;
    transform: rotate(45deg);
    box-shadow: 0 6px 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  }

  .burger_checkbox:checked + .burger::after {
    bottom: 11px;
    transform: rotate(-45deg);
    transition: bottom 0.3s, transform 0.3s 0.15s;
  }
  .all_menu {
    display: grid;
    gap: 15%;
    position: sticky;
    left: 0;
    width: 189px;
    margin: 0 auto;
    padding: 42px 0;
    z-index: 1;
    list-style-type: none;
    transform: translateX(-100%);
    transition: 0.3s;
  }

  .burger_checkbox:checked ~ .all_menu {
    transform: translateX(0);
  }
}

.header_menu {
  transform: translateY(-10%);
  display: grid;
  gap: 15%;
  height: auto;
  width: 60%;
  color: rgb(0, 0, 0);
}

.all_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40%;
  position: sticky;
  top: 96px;
  left: 0;
  width: 100%;
  height: 30%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo {
  filter: brightness(0) invert(1); /*Меняет цвет с чёрного на белый */
  filter: none;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background: none;
  transition: transform 0.5s ease-in-out;
  width: 60%;
  height: 70%;
}

.dark.logo {
  filter: brightness(1) invert(1);
}

.logo:hover {
  transform: scale(1.05);
}

.social {
  display: flex;
  width: 60%;
  justify-content: space-between;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
  padding-top: 50px;
}

.social_circle1:hover {
  background-image: url(../../assets/ponarthColor.png);
}

.social_circle2:hover {
  background-image: url(../../assets/vkColor.png);
}

.social_circle3:hover {
  background-image: url(../../assets/tgColor.png);
}

.social_circle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../assets/ponarthBlack.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.social_circle2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../assets/vkBlack.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.social_circle3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../assets/tgBlack.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.headerButton {
  transition: 0.1s ease-in-out;
  color: black;
}

.headerButton:hover {
  color: rgb(157, 20, 20);
  font-weight: bold;
  /* font-size: 20px; */
}
