/* first_page header */
header {
  width: 20%;
  height: 110vh;
  border-radius: 2px;
  top: 0;
  left: 0;
  position: sticky;
}

@media only screen and (max-width: 1025px) {
  header,
  .right_menu {
    display: none;
  }

  .footerButton {
    justify-content: center;
    text-align: center;
  }

  .menu_toggle {
    display: block !important;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
}

.header_menu {
  display: grid;
  gap: 20px;
  height: auto;
  color: black;
}

.all_menu {
  display: grid;
  gap: 15%;
  position: sticky;
  top: 96px;
  left: 0;
  width: 189px;
  margin: 0 auto;
}

.logo {
  width: 0 auto;
  min-height: 85px;
  cursor: pointer;
  background-size: contain; /* Это убедится, что весь образ виден */
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../assets/big_ponarth_logo_black.png);
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}

.social {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  align-items: center;
}

.social_circle1:hover {
  background-image: url(../../assets/ponarthColor.png);
}

.social_circle2:hover {
  background-image: url(../../assets/vkColor.png);
}

.social_circle3:hover {
  background-image: url(../../assets/tgColor.png);
}

.social_circle1 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../assets/ponarthBlack.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.social_circle2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../assets/vkBlack.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.social_circle3 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-image: url(../../assets/tgBlack.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.headerButton {
  transition: 0.1s ease-in-out;
}

.headerButton:hover {
  color: rgb(157, 20, 20);
  font-weight: bold;
  /* font-size: 20px; */
}
