footer {
  height: 25%;
  max-height: 25%;
  position: sticky;
  width: 100%;
  z-index: 2;
}
.footerButton {
  padding-bottom: 5%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  transition: 0.1s ease-in-out;
  color: #000;
}
.logo_footer {

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 215px;
  height: 200px;
  position: relative;
  right: 11px;
  transition: 0.3s ease-in-out;
  margin: 0 auto;
}

.dark .logo_footer {
  filter: brightness(0) invert(1); /*Меняет цвет с чёрного на белый */
}

.logo_footer:hover,
.practice:hover {
  transform: scale(1.03);
}
.info_footer{
  margin: 0 auto;
}
.all_items_footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0px 0px 10px 0px rgba(3, 3, 3, 0.1);
  transition: box-shadow, background-color 1s ease;
}
@media screen and (max-width: 768px) {
  .all_items_footer {
    grid-template-columns: none !important;
    width: 100%;
  }
  .footerButton {
    justify-content: center;
    text-align: center;
  }
}
.footerButton:hover {
  color: rgb(157, 20, 20);
  font-weight: bold;
  /* font-size: 20px; */
}
.practice {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 150px;
  height: 30px;
  margin: 0 auto;
  transition: 0.3s ease-in-out;
}

.all_items_footer.dark {
  background-color: #000;
  color: #fff;
  box-shadow: 0px 0px 10px  rgba(255, 255, 255, 0.93);
  transition: box-shadow, background-color 1s ease;
}

.all_items_footer.dark a {
  color: #fff;
  transition: box-shadow, background-color 1s ease;
  
}
