.parallax {
  min-height: 100vh;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* background-size: contain; */
}

.content {
  min-height: 50vh;
  background-color: rgb(249 249 249);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}

.zavod {
  background-image: url(../img/zavod.png)
}

.ozero3 {
  background-image: url(../img/ozero.png);
}

.panorama {
  background-image: url(../img/panorama.png);
}

.ozero1 {
  background-image: url(../img/ozero1.jpeg);
}

.shonbush{
  background-image: url(../img/shonbush.jpeg);
}

.street{
  background-image: url(../img/street.jpeg);
}

.solders{
  background-image: url(../img/solders.jpeg);
}

.ponarth{
  background-image: url(../img/ponarth.jpeg);
}

@media screen and (max-width:600px) {

  .info,
  .img_grid,
  .block_yers {
    grid-template-columns: none;
    grid-template-rows: 2 1fr;
  }
}