.stickytext {
    color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 30%;
    margin: 0 auto;
    padding: 10%;
}
.back_img {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
}
.iogan{
    background-image: url(../img/iogan.png);
    height: 105vh;
}
.bottle{
    background-image: url(../img/bottle.jpeg);
    height: 105vh;
    /* min-height: 2000px; */
}
.pivKorol{
    background-image: url(../img/pivKorol.jpeg);
    height: 105vh;
    /* min-height: 1500px; */
}
