.add_vacancies_main {
  max-width: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.back_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
  border: 0;
  align-self: self-start;
}
.save_btn {
  width: 158px;
  height: 69px;
  border-radius: 50px;
  border: none;
  margin: 10% 0 10% 0;
  font-weight: 700;
}
.input_container {
  margin: 15% 0 15% 0;
}

.input_container h2 {
  margin-top: 20px;
}

.add_vacancies_input {
  width: 100%;
  height: 49px;
  background: none;
  color: white;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
  box-sizing: border-box;
  margin: 3% 0 3% 0;
}
.second_input {
  width: 100%;
  height: 49px;
  background: none;
  color: white;
  border: 1px solid rgb(145, 145, 145);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding-left: 12px;
  box-sizing: border-box;
  margin: 3% 0 3% 0;
}

::placeholder {
  color: white;
  padding: 0 0 0 2%;
}
.second_input ::placeholder {
  transform: translateY(-10%);
}

.img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.img_container {
  margin-top: 15%;
  align-self: start;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 168px;
  height: 168px;
  background: linear-gradient(315deg, #494949, #00000000);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgb(145, 145, 145);
  border-radius: 12px;
}
.image_block {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  width: 69px;
  height: 69px;
}
