.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 34px;
  max-width: 100%;
  margin: 0 5%;
  text-align: center;
}
.notification_filter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.notifications_list {
  width: 90%;
  margin-top: 46px;
  overflow: hidden;

  .notification {
    min-height: 70px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

    .image_block {
      align-self: flex-start;
      min-width: 70px;
      min-height: 70px;
      margin-right: 10px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
      }
    }

    .description_block {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: end;
      max-width: 60%;

      h2 {
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        margin-left: 10px;
      }
      h3 {
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        margin-left: 10px;
      }

      p {
        font-size: 12px;
        font-weight: 500;
        line-height: 22px;
        margin-left: 10px;
        color: #717375;
      }
    }
    .settings_btn {
      background-color: rgb(255, 255, 255);
      border-color: white;
      min-width: 31px;
      min-height: 31px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 10px;
      margin-left: auto;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      border: none;
      cursor: pointer;
      align-self: start;
    }
    .delete_btn {
      background-color: rgb(255, 255, 255);
      border-color: white;
      min-width: 23px;
      min-height: 23px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-right: 5px;
      box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
      border: none;
      cursor: pointer;
      align-self: start;
    }
  }
}

.input {
  width: 90%;
  height: 49px;
  border: 2px solid grey;
  font-size: 20px;
  border-radius: 4px;
  background: url('../../assets/3844432-magnifier-search-zoom_110300.svg')
    no-repeat 10px center;
  background-size: 30px;
  padding-left: 50px;
  margin-top: 30px;
}
.notification_filter input::placeholder {
  color: rgb(24, 24, 24);
  padding-left: 0.01%;
}

.notification_buttons {
  display: flex;
  margin: 10% 0 10% 0;
}

.add_btn {
  position: fixed;
  bottom: 36px;
  right: 36px;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  border: none;
  cursor: pointer;

  .add_btn img {
    width: 24px;
    height: 24px;
  }
}
