<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet"
  />
  <title>Document</title>
  <style>
    table.iksweb {
      width: 500px;
      border-collapse: collapse;
      border-spacing: 0;
      height: auto;
    }
    table.iksweb td,
    table.iksweb th {
      padding: 3px;
      width: 30px;
      height: 35px;
    }
    table.iksweb th {
      background: #347c99;
      color: #fff;
      font-weight: normal;
    }
    img {
      width: 500px;
    }
  </style>
</head>
<body style="font-family: Montserrat">
<table class="iksweb">
  <tbody>
  <tr>
    <td colspan="4">
      <img
              src="https://sun9-60.userapi.com/impf/c627429/v627429748/20b55/AU8Pkdn-H4U.jpg?size=1000x575&quality=96&sign=fb7edc15f9235bea4996aa32a3691a23&c_uniq_tag=WzYHos5FPvkhh-oI0hew8iHM2DL14G3OfTv75tQ2ON0&type=album"
              alt=""
      />
    </td>
  </tr>
  <tr>
    <td style="font-size: 24px"><strong>Логин:</strong></td>
    <td style="font-size: 24px" th:text="${login}"></td>
    <td style="font-size: 24px"><strong>Пароль:</strong></td>
    <td style="font-size: 24px"  th:text="${password}"></td>
  </tr>
  <tr>
    <td colspan="4" style="font-size: 14px; height: 0px" align="center">Удачного дня!</td>
  </tr>
  <tr>
    <td colspan="4" style="height: 0px; font-size: 18px" align="center">
      <strong>© <i>Ponarth Team</i></strong>
    </td>
  </tr>
  </tbody>
</table>
</body>
</html>
