.historyPage {
    transition: 1s all ease-in-out;
   // background-color: rgb(249, 249, 249);
}

.pageContent {
    transition: 1s all ease-in-out;
    max-width: 1440px;
    margin: 0 auto;
}

.pageContent {
    &.menuopen {
		opacity: .6;
		filter: blur(20px);
	}
}

.dark{
    h1, h2{
        color: white;
    }
}
.button_container{
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
  }
  @media screen and (max-width: 1000px) {
    .button_container{
        height: 110px;
        width: 110px;
    }
  }
  @media screen and (max-width: 730px) {
    .button_container{
        height: 80px;
        width: 80px;
    }
  }
  .button_back_link{
    width: 30px;
    height: 30px;
  }
  .button_back {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-image: url(../../assets/expand_less.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #ffffff;
    position: fixed;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
    transition: 0.3s ease-in-out;
    transform: rotate(-90deg);
  }
  .button_back.dark{
    background-color: rgb(0, 0, 0);
    background-image: url(../../assets/expand_less_white.svg);
    box-shadow: 0px 2px 8px rgba(255, 255, 255, 0.16); 
    border:  1px solid white;
  } 
  .button_back:hover{
    scale: 1.1;
  }