@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

body {
  transition: background-color 1s ease;
}

body.light {
  background-color: #fff;
}

body.dark {
  background-color: #121212;
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 1440px;
  justify-self: center;
  margin: 0 auto;
  background-color: white;
  transition: box-shadow, background-color 1s ease;
}

.darkWrapper {
  /* box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.93); */
  transition: box-shadow, background-color 1s ease;
}
.content{
  box-shadow:inset 0px 0px 8px 0px rgba(0,0,0, 0.16);

}
.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  z-index: 13;
  border: 2px solid black;
  background-color: white;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  left: 34px;
  /* top: 96px;
  margin-top: 75vh; */
  bottom: 34px;

  gap: 3px;
}
.burger.dark{
  border: 2px solid white;
  background-color: black;
}
.burger.burgerClosed{
  background-color: #ffffff5f;
  box-shadow: unset;
}

.burger span {
  display: block; /* или inline-block */
  width: 14px;
  height: 2px;
  position: relative;
  background: #000000 !important;
  border-radius: 3px;
  transition: transform 0.3s ease; /* Add transition for smooth effect */
}
.burger.dark span{
  background-color: white !important;
}
.burgerClosed span:nth-child(1) {
  transform: rotate(45deg) translate(3px, 3px);
}

.burgerClosed span:nth-child(2) {
  opacity: 0;
}

.burgerClosed span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
}

@media only screen and (min-width: 1230px) {
  .burger {
    display: none;
  }
}

.content {
  display: flex;
  width: 100%;
  justify-self: center;
  flex-direction: column;
}

.dark {
  background-color: #000;
}

.dark h1,
.dark h2,
.dark a,
.dark p {
  color: #fff;
}
.box_shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
  max-width: 1440px;
  justify-self: center;
  margin: 0 auto;
}
.box_shadow.dark{
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.93);
}
@media screen and (max-width: 1230px){
  .box_shadow{
    box-shadow: unset;
  }
  .content{
box-shadow: unset;
  }
}
