:root {
  --second-can: #e6ffde;
  --second-logo: #303a18;
  --third-can: #f2675a;
  --third-logo: #575334;
  --first-can: #9590f1;
  --black-color: #000000;
  --white-color: #ffffff;
  --first-logo: #6464ff;
  --four-logo: #aa4124;
  --second-background: #a0853b;
  --third-background: #d8cd85;
  --first-background: #c1bff2;
  --four-background: #612b1b;
}